body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

div {
    border-radius: 35px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 100%);
    margin-left: 420px;
    margin-right: 400px;
    margin-top: 50px;
    padding-bottom: 50px;
}

h1 {
    font-weight: 700;
    inline-size: 250px;
    overflow-wrap: break-word;
    width: 300px;
    height: 50px;
    margin-left: 70px;
    font-size: 1.50rem;
}

p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    inline-size: 100px;
    overflow-wrap: break-word;
    width: 250px;
    margin-left: 90px;
    font-size: 15px;
}

.qr {
    padding: 20px 20px 20px 20px;
    border-radius: 35px;
    width: 379px;
    height: 379px;
}